
@import "../../../../../styles/breakpoints";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  .logo {
    width: 320px;
    margin-bottom: 32px;

    @include media-breakpoint('sm') {
      width: 200px;
      min-width: 200px;
      max-width: 200px;
    }

    img{
      max-width: 100%;
      max-height: 320px;
    }
  }
}
