:host{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  main{
    flex: 1;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }


  ::ng-deep mat-drawer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    ::ng-deep mat-drawer-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
  ::ng-deep mat-drawer {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 70%;
    .mat-drawer-inner-container{
      display: flex;
      flex-direction: column;
    }
  }
}
